header {
  position: relative;
  background: $header-bg-img no-repeat;
  background-size: cover;
  color: $header-text-color;
  padding: 2em 0;

  //   Тень под шапкой
  .overlay {
    position: absolute;
    background: $header-overlay-color;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
  }

  #header-container {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1em 0 2em 0;

    // Навигация
    nav {
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-item-align: center;
      align-self: center;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: start;
      width: 70%;

      @include screen-res("md") {
        width: 40% !important;
      }

      .nav-logo {
        img {
          @include screen-res("sm") {
            width: 50px;
          }
        }
      }

      #menu-container {
        margin: 0 0 0 10%;
        width: 100%;

        // Иконка меню
        #burger-menu-icon, #nav-collapse #x-icon {
          width: -webkit-max-content;
          width: -moz-max-content;
          width: max-content;
          cursor: pointer;
          font-size: 2.4em;
          display: none;
          -webkit-transition: $light-transition;
          -o-transition: $light-transition;
          transition: $light-transition;

          &:hover {
            color: $header-hover-color;
          }

          @include screen-res("md") {
            display: block !important;
          }
        }

        // Пункты меню
        #nav-collapse {
          z-index: 1000;
          transition: $swipe-blik;

          @include screen-res("md") {
            visibility: hidden;
            position: fixed;
            top: -35%;
            left: -35%;
            background: #353232;
            padding: 25px 30px 25px 20px;
            width: 30%;
            min-width: max-content;
            box-shadow: 1px 1px 10px 1px #676767;
            text-align: center;

            ul {
              flex-direction: column;

              li {
                margin: 10px 0 !important;
              }
            }
          }

          @include screen-res("xs") {
            width: 60%;
          }

          ul {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            list-style: none;

            li {
              margin: 0 6%;

              a {
                color: $header-text-color;
                -webkit-transition: $light-transition;
                -o-transition: $light-transition;
                transition: $light-transition;
                @include font-size($main-text-size, 5);

                &:hover {
                  color: $header-hover-color;
                }
              }
            }
          }
        }
      }
    }

    // Телефон номер
    .tel_num {
      text-align: end;
      -ms-flex-item-align: end;
      align-self: flex-end;
      width: 27%;

      @include screen-res("md") {
        width: 60% !important;
        align-self: center !important;
      }

      a {
        white-space: nowrap;
        font-weight: $bold-weight;
        color: $header-text-color;
        -webkit-transition: $light-transition;
        -o-transition: $light-transition;
        transition: $light-transition;

        @include font-size(1em, 10);

        &:hover {
          color: $header-hover-color;
        }
      }
      p {
        @include font-size($main-text-size, 5);
      }
    }
  }

  //   Количество найденных котов
  #found-cats {
    position: relative;
    @include font-size($found-cats-size, 8);
    padding: 1em 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
