$header-bg-img: url(../img/Half-of-cat-head.jpg);

$container-max-width: 1280px;
$bold-weight: 700;

// font-sizes
$main-text-size: 1.125em;
$found-cats-size: 1.5em;


// Colors
$header-text-color: #ffffff;
$header-overlay-color: rgba(33, 31, 31, 0.788);

// Hover
$header-hover-color: #cacaca;

// Transitions
$light-transition: all 0.3s ease;
$swipe-blik: all 0.6s cubic-bezier(0.68, -0.69, 0.32, 1.61);

// Alerts
$success-alert-bg: #d1e7dd;
$success-alert-text: #008000;
$warning-alert-bg: #ffe5b9;
$warning-alert-text: #ad7600;

// Screens 
$breakpoints: (
  'xs': ('(max-width: 575px)'),
  'sm': ('(max-width: 768px)'),
  'md': ('(max-width: 991px)'),
  'lg': ('(max-width: 1199px)'),
);